<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Google Login</title>
</head>

<body>
    <div class="">
        <p>Redirecting To Google...</p>
    </div>
</body>
<script>
    (async () => {
        try {
            const response = await fetch("<%= betterAuthUrl %>/api/auth/sign-in/social", {
                method: 'POST',
                headers: {
                    'Content-Type': "application/json",
                },
                credentials: "include",
                body: JSON.stringify({
                    provider: 'google',
                    callbackURL: "<%= callbackURl %>"
                })

            })
            const data = await response.json()
            if (data.url) {
                window.location.href = data.url
            } else {
                document.body.innerHTML = `<p>
        Error Occurred while Redirecting To Google. Please Try Again Later ${error.message}
        </p>`
            }
        } catch (error) {
            document.body.innerHTML = `<p>
        Error Occurred while Redirecting To Google. Please Try Again Later ${error.message}
        </p>`
        }
    })()
</script>
 
</html>